<div class="container" [style.display]="isLoading ? 'block' : 'none'">
  <mat-spinner style="margin: auto"></mat-spinner>
</div>
<div class="container" [style.display]="isLoading ? 'none' : 'block'">
  <mat-grid-list cols="2" rowHeight="150px">
    <mat-grid-tile>
      <mat-card class="card-sales">
        <mat-card-content class="text-center">
          <h3>Empresa con mas ventas</h3>
          <p>{{ formatPrices(getMoreSales()) }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-card class="card-month">
        <mat-card-content class="text-center">
          <h3>Mes con mas Ventas</h3>
          <p>{{ monthWithMoreSales() }}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    matSortDisableClear
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="nameAgency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Empresa</th>
      <td mat-cell *matCellDef="let element">{{ element.nameAgency }}</td>
    </ng-container>

    <ng-container matColumnDef="totalSales">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Ventas</th>
      <td mat-cell *matCellDef="let element">
        {{ formatPrices(element.totalSales) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="comision">
      <th mat-header-cell *matHeaderCellDef>Comisión</th>
      <td mat-cell *matCellDef="let element">
        {{ formatPrices(element.comision) }}
      </td>
    </ng-container>

    <ng-container matColumnDef="detalle">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Detalles
      </th>
      <td mat-cell *matCellDef="let element" class="text-center">
        <button
          routerLink="/empresas/{{ element.nameAgency }}"
          color="primary"
          mat-mini-fab
          matTooltip="Detalles"
          aria-label="Botón que dirige al detalle de ventas de la empresa"
          matTooltipPosition="right"
        >
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="headers"></tr>
    <tr mat-row *matRowDef="let row; columns: headers"></tr>
  </table>
</div>
